/* line 17, /Users/twer/.rvm/gems/ruby-1.9.3-p194@zation/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/twer/.rvm/gems/ruby-1.9.3-p194@zation/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/twer/.rvm/gems/ruby-1.9.3-p194@zation/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/twer/.rvm/gems/ruby-1.9.3-p194@zation/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/twer/.rvm/gems/ruby-1.9.3-p194@zation/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/twer/.rvm/gems/ruby-1.9.3-p194@zation/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/twer/.rvm/gems/ruby-1.9.3-p194@zation/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/twer/.rvm/gems/ruby-1.9.3-p194@zation/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/twer/.rvm/gems/ruby-1.9.3-p194@zation/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_global.scss */
body {
  background: #F6F6F6; }

/* line 5, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_global.scss */
a, body {
  font-family: Arial, Helvetica, sans-serif;
  color: black; }

/* line 10, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_global.scss */
a {
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }

/* line 1, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
.article-content {
  margin: 0 auto;
  color: #444444;
  line-height: 1;
  /* Code below this line is copyright Twitter Inc. */
  /* override default chrome & firefox settings */
  /* grey out placeholders */
  /* buttons */ }
  /* line 6, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content h1, .article-content h2, .article-content h3, .article-content h4 {
    color: #111111;
    font-weight: 400; }
  /* line 10, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content p {
    margin-bottom: 24px;
    padding: 0; }
  /* line 14, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content h1 {
    font-size: 36px; }
  /* line 17, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content h2 {
    font-size: 26px;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 24px 0 6px; }
  /* line 23, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content h3 {
    font-size: 24px; }
  /* line 26, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content h4 {
    font-size: 18px; }
  /* line 29, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content h5 {
    font-size: 16px; }
  /* line 32, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline; }
  /* line 38, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content a:hover {
    text-decoration: none;
    color: #ff6600; }
  /* line 42, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content a:visited {
    color: purple; }
  /* line 45, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content ul, .article-content ol {
    padding: 0;
    margin: 0 0 24px 34px; }
  /* line 49, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content ul {
    list-style-type: disc; }
  /* line 52, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content li {
    line-height: 24px; }
  /* line 55, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content li ul, .article-content li ul {
    margin-left: 24px; }
  /* line 58, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content p, .article-content ul, .article-content ol {
    font-size: 16px;
    line-height: 24px; }
  /* line 62, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap; }
  /* line 67, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px; }
  /* line 72, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content aside {
    display: block;
    float: right;
    width: 390px; }
  /* line 77, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content blockquote {
    border-left: 0.5em solid #eeeeee;
    padding: 0 2em;
    margin-left: 0;
    max-width: 476px; }
  /* line 83, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content blockquote cite {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf; }
  /* line 88, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content blockquote cite:before {
    content: '\2014 \00A0'; }
  /* line 92, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content blockquote p {
    color: #666;
    max-width: 460px; }
  /* line 96, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content hr {
    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999; }
  /* line 102, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content strong {
    font-weight: bold; }
  /* line 105, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content img {
    width: 100%; }
  /* line 114, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content button,
  .article-content input,
  .article-content select,
  .article-content textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle; }
  /* line 120, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content button, .article-content input {
    line-height: normal;
    *overflow: visible; }
  /* line 124, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content button::-moz-focus-inner, .article-content input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  /* line 131, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content button,
  .article-content input[type="button"],
  .article-content input[type="reset"],
  .article-content input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button; }
  /* line 135, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content input[type=checkbox], .article-content input[type=radio] {
    cursor: pointer; }
  /* line 139, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content input:not([type="image"]), .article-content textarea {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  /* line 145, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  /* line 151, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  /* line 157, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content label,
  .article-content input,
  .article-content select,
  .article-content textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 18px; }
  /* line 164, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content input[type=checkbox], .article-content input[type=radio] {
    cursor: pointer;
    margin-bottom: 0; }
  /* line 171, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content input[type=text],
  .article-content input[type=password],
  .article-content textarea,
  .article-content select {
    display: inline-block;
    width: 210px;
    padding: 4px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    height: 18px;
    color: #808080;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  /* line 185, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content select, .article-content input[type=file] {
    height: 27px;
    line-height: 27px; }
  /* line 189, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content textarea {
    height: auto; }
  /* line 194, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content :-moz-placeholder {
    color: #bfbfbf; }
  /* line 197, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content ::-webkit-input-placeholder {
    color: #bfbfbf; }
  /* line 204, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content input[type=text],
  .article-content input[type=password],
  .article-content select,
  .article-content textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
  /* line 212, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content input[type=text]:focus, .article-content input[type=password]:focus, .article-content textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6); }
  /* line 221, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content button {
    display: inline-block;
    padding: 4px 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #004b9a;
    border-bottom-color: #003f81;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
  /* line 252, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content button:hover {
    color: #fff;
    background-position: 0 -15px;
    text-decoration: none; }
  /* line 257, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content button:active {
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
  /* line 262, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_markdown.scss */
  .article-content button::-moz-focus-inner {
    padding: 0;
    border: 0; }

/* line 1, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_nav.scss */
.nav li {
  display: inline;
  margin-left: 50px; }

/* line 6, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_nav.scss */
.nav a {
  font-size: 24px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

/* line 11, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_nav.scss */
.nav a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* line 15, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_nav.scss */
.page-footer .nav a {
  color: #E7B418;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* line 20, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_nav.scss */
.page-footer .nav a:hover {
  color: black; }

/* line 1, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_article.scss */
.article {
  padding: 40px 0;
  border-bottom: 1px solid #d2d2d2; }

/* line 7, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_article.scss */
.article-title,
.article-content {
  margin-left: 235px; }

/* line 11, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_article.scss */
.article-title {
  font-size: 32px;
  font-weight: bold; }

/* line 16, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_article.scss */
.article-title a:hover {
  background-color: #FFDF1F; }

/* line 20, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_article.scss */
.article-content {
  max-width: 680px;
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 1, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_extro-info.scss */
.extro-info {
  float: left;
  margin-top: 5px; }

/* line 7, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_extro-info.scss */
.date,
.tag {
  padding-left: 25px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin: 5px 0; }

/* line 13, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_extro-info.scss */
.date {
  background: url('/stylesheets/images/cal-ico.png') no-repeat;
  margin-bottom: 20px; }

/* line 18, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_extro-info.scss */
.tag {
  background: url('/stylesheets/images/tag-ico.png') no-repeat; }

/* line 1, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_pagination.scss */
.pagination {
  overflow: hidden;
  *zoom: 1;
  margin-left: 235px; }

/* line 6, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_pagination.scss */
.pagination li {
  float: left; }

/* line 11, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_pagination.scss */
.pagination a,
.pagination span {
  display: block;
  width: 40px;
  line-height: 40px;
  text-align: center; }

/* line 19, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_pagination.scss */
.pagination span,
.pagination a:hover {
  background: #D2D2D2; }

/* line 23, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/_pagination.scss */
.pagination a {
  background: #EEE; }

/* line 10, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/main.scss */
.main-container {
  padding: 50px 100px; }

/* line 14, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/main.scss */
.nav-container {
  overflow: hidden;
  *zoom: 1; }

/* line 18, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/main.scss */
.logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  background: url('/stylesheets/images/strange-native-logo.png');
  height: 20px;
  width: 70px;
  float: left; }

/* line 27, /Users/twer/Documents/Projects/github/zation.github.com/source/stylesheets/main.scss */
.page-footer {
  background: url('/stylesheets/images/yellow-shadow.jpg') #ffdf1f repeat-x;
  padding: 50px 170px; }
